/* style.css */
body {
    font-family: Arial, sans-serif;
}

.calendar {
    max-width: 300px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#monthYear {
    text-align: center;
    margin: 0;
}

#calendarTable {
    width: 100%;
    border-collapse: collapse;
}

#calendarTable th,
#calendarTable td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

#prevBtn,
#nextBtn {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: #e0e0e0;
}
